:root {
    --light: #6e8996;
    --dark: #273d47;
    --white-border: 3px solid white;
    --grow-box: #8dacbb;
}

* {
    color: white;
    font-family: "Crimson Pro", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    border: 2px solid var(--light);
    background-color: var(--dark);
}

header {
    background-color: var(--light);
    background-image: linear-gradient();
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 9px;
    border: var(--white-border);
    padding: 0 10px;
}

header #left {
    display: flex;
    align-items: center;
}

nav ul li {
    display: inline;
    margin: auto 8px;
    text-decoration: none;
    color: white;
}

header img {
    max-width: 200px;
    max-height: auto;
    padding: 20px;
}

main {
    background-color: var(--dark);
}
   
#about-me, 
#work {
    /* padding: 10px; */
    display: flex;
    margin-bottom: 10px;
}

p, div {
    margin: 10px;
}

.container {
    border-left: 5px solid var(--light);
    max-width: 900px;
}

aside {
    width: 100px;
    margin: 20px;
    text-align: right;
}

a {
    text-decoration: none;
    color: white;
    font-size: 200%;
    /* padding: 0 3px; */
}

#star-wars {
    background-image: url(/assets/images/at-at.jpg);
    background-position: 33%;
    width: 900px;
    height: 400px;
} 

#ff-bae-box {
    display: flex;
    margin: 0;
    justify-content: center;
    width: 900px;
}

#final-fantasy {
    background-image: url(/assets/images/sephiroth.jpg);
    background-position: 30%;
    width: 450px;
    height: 240px;
}  

#bae {
    background-image: url(/assets/images/dating-app.jpg);
    background-position: 90%;
    width: 450px;
    height: 240px; 
}

#inner-box {
    background-color: var(--grow-box);
    display: inline-block;
    margin: 10px 10px 10px 0px;
    border-bottom: var(--white-border);
    border-top: var(--white-border);
    border-right: var(--white-border);
    opacity: 90%;
    transition: font-size 2s 1s;
    position: relative;
} 

#inner-box:hover {
    font-size: 24px;
} 





/* @media screen and (max-width: 992px) {
  
}

@media screen and (max-width: 768px) {

} */