:root {
    --light: #6e8996;
    --dark: #273d47;
    --white-border: 3px solid white;
}

* {
    color: white;
    font-family: "Crimson Pro", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    border: 2px solid var(--light);
    background-color: var(--dark);
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: var(--light);
    background-image: linear-gradient();
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 9px;
    border: var(--white-border);
    padding: 0 10px;
}

header #left {
    display: flex;
    align-items: center;
}

header ul li {
    display: inline;
    margin: auto 8px;
    text-decoration: none;
    color: white;
}

header img {
    max-width: 200px;
    max-height: auto;
    padding: 20px;
    margin: 0;
}

main {
    background-color: var(--dark);
}

section, header {
    display: flex;
    margin: 9px;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}

article p {
    margin: 10px;
}

#about-me {
    padding: 20px; 
}


#work h2 {
    margin: 3px;
}

#star-wars {
    position:sticky;
    background-image: url(/assets/images/at-at.jpg);
    background-position: 33%;
    width: 900px;
    height: 400px;
    margin: 10px;
}

#work .inner-box {
    background-color: #8dacbb;
    display: inline-block;
    margin: 10px 10px 10px 0px;
    border-bottom: var(--white-border);
    border-top: var(--white-border);
    border-right: var(--white-border);
    background-color: #8dacbb;
    opacity: 90%;
    transition: font-size 2s 1s;
}

#work .inner-box:hover {
    font-size: 24px;
}

#final-fantasy {
    display: block;
}

aside {
    border-right: 5px solid var(--light);
}

h1 {
    font-size: 300%;
}

h2 {
    padding: 10px;
    display: inline-block;
}

a {
    text-decoration: none;
    color: white;
    font-size: 300%;
    padding: 0 10px;
}

.outer-box {
  
}

.inner-box {
 
}



@media screen and (max-width: 992px) {
    main {
        width: 50%;
    }   
}

@media screen and (max-width: 768px) {

    header {
        flex-direction: column;
    }
    main {
        width: 100%;
    }   
}