:root {
    --light: #6e8996;
    --dark: #273d47;
    --white-border: 3px solid white;
    --grow-box: #8dacbb;
}

* {
    color: white;
    font-family: "Crimson Pro", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    border: 2px solid var(--light);
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}

header {
    background-color: var(--light);
    background-image: linear-gradient();
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 9px;
    border: var(--white-border);
    padding: 0 10px;
}

header #left {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    margin: auto 8px;
    text-decoration: none;
    list-style: none;
    color: white;
}

nav ul li {
    padding: 8px;
}

header img {
    max-width: 200px;
    max-height: auto;
    padding: 20px;
}

main {
    background-color: var(--dark);
}
   
section {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

aside {
    width: 120px;
    margin: 20px;
    text-align: right;
    place-content: top;
}

#star-wars, 
#final-fantasy, 
#bae {
    margin: 10px;
}

#star-wars {
    background-image: url(/assets/images/at-at.jpg);
    background-position: 23%;
    width: 900px;
    height: 400px;
} 



#star-wars:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 30px 10px #fff, 0 0 50px 10px var(--grow-box), 0 0 60px;
}

#ff-bae-box {
    display: flex;
    margin: 0;
    justify-content: center;
    width: 900px;
}

#final-fantasy {
    background-image: url(/assets/images/sephiroth.jpg);
    background-position: 30%;
    width: 450px;
    height: 240px;
}  

#final-fantasy:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 30px 10px #fff, 0 0 50px 10px var(--grow-box), 0 0 60px;
}


#bae {
    background-image: url(/assets/images/dating-app.jpg);
    background-position: 90%;
    width: 450px;
    height: 240px; 
}
 
#bae:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 30px 10px #fff, 0 0 50px 10px var(--grow-box), 0 0 60px;
}

.app-link {
    display: inline-block;
    font-size: 20px;
    background-color: var(--grow-box);
    display: inline-block;
    margin: 10px 10px 10px 0px;
    border-bottom: var(--white-border);
    border-top: var(--white-border);
    border-right: var(--white-border);
    opacity: 90%;
    transition: font-size 2s 1s;
    position: relative;
    padding: 10px;
}

.app-link:hover {
    font-size: 24px;
}

article ul {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    width: 900px;
    font-size: 100%;
}

.container {
    border-left: 5px solid var(--light);
    max-width: 900px;
}

p {
    margin: 10px;
    font-size: 130%;
}

h1, h2 {
    text-shadow: 2px 2px var(--dark);
}

h1 {
    font-size: 200%;
}

a {
    text-decoration: none;
    color: white;
    font-size: 200%;
    padding: 0 3px;
}

a:hover {
    text-decoration: underline;
}


@media screen and (max-width: 992px) {
    
    #ff-bae-box {
        display: block;
    }

    #star-wars {
        width: 47.5%;
    }
                
    #final-fantasy, #bae {
        width: 75%;
    }

    div ul, nav ul {
        display: block;
    }

    aside {
        width: 50%;                                              
    }

}

@media screen and (max-width: 768px) {
    #ff-bae-box {
        display: block;
    }

    #star-wars {
        width: 47.5%;
    }
                
    #final-fantasy, #bae {
        width: 75%;
    }
}